#top-admin{
	
}
.upload-img{
	width: 318px;
	height: 551px;
	background-color: #e5e5e5;
	background-image: url('../img/add.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    font-family: ARoman;
    font-size: 12px;
}
.admin-select{
	font-family: ; 'ARoman';	
	font-weight: normal;
}

.admin-input{
	font-family: ; 'ARoman';	
	background-color: #e5e5e5;
	border:0px;
}
.h1{
	font-size: 76px;
}
.admin-textarea{
	width: 600px;
	height: 400px;
	background-color: #e5e5e5;
	border:0px;
	font-family: 'ARoman';
	font-size:14px;
}

.admin-textarea-key{
	width: 100%;
	height: 100px;
	background-color: #e5e5e5;
	border:0px;
	font-family: 'ARoman';
	font-size:14px;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.progress-animated .bar {
  background: url(../img/progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  float: right;
  width: 32px;
  height: 32px;
  background: url(../img/loading.gif) center no-repeat;
  background-size: contain;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}
.menu_admin{
  width: 94%;
  padding: 3%;
  background-color: #e5e5e5;
}

@media (max-width: 767px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .name {
    width: 80px;
    word-wrap: break-word;
  }
}