@font-face {
	font-family: 'ABlack';
	src: url('fonts/AvenirLTStd-Black.eot');
	src: local('☺'), url('font/AvenirLTStd-Black.woff') format('woff'), url('font/AvenirLTStd-Black.ttf') format('truetype'), url('font/AvenirLTStd-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ARoman';
	src: url('font/AvenirLTStd-Roman.eot');
	src: local('☺'), url('font/AvenirLTStd-Roman.woff') format('woff'), url('font/AvenirLTStd-Roman.ttf') format('truetype'), url('font/AvenirLTStd-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


html{
}
body{
	height: 100%;
  font-family: 'Lato', sans-serif;
	/*font-family: 'ABlack';*/
	font-size:18px;
	background-color:#FFF;
	padding:0px;
	margin:0px;
}

#bar-top{}
#bar-menu{
	float:right;
}
#logo-sclusib{
	float: left;
}
.logo{
	margin-top: -10px;	
	float: left;
}
h1{
	font-size: 76px;
  font-weight: bold;
	line-height: 70px;
	padding-bottom: 20px;
}
h2{
	font-size: 30px;
  font-weight: bold;
	padding: 80px 0px;
}
h3{
	font-size: 16px;
  font-weight: bold;
	padding: 10px 0px;
  text-transform: uppercase;
}
.nav-pills{
	float: right;
  display: block;
}

.nav-pills > li{
	
}
.nav-pills, .nav-pills > li > a{
	font-weight: bold;
	color:#000;
	border-radius:0px;
}
.nav-pills > li > a:hover{
	border-radius: 5px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
	text-decoration: none;
	border-radius:5px;	
    color: #FFF !important;
	background-color: #FA5568 !important;
}

#main_intro{
	padding-top: 100px;
  text-align: right;
}
#main_container{}

.main_section{	
	
}
.mainDownload{
  text-align: right;
}
.downloadLeft{text-align: right;}
.downloadRight{text-align: left;}
.content{
	margin: 0 auto;
}
.cardInfluencer{
  text-align: center;  
}
.box-image{height: 90px;}
.color_back{background-color:#F8F8F9;}
.color_front{background-color:#FFFFFF;}
.color_footer{background-color:#414042; color:#FFF;}
.color_white{color:#FFFFFF !important;}
.bg{background: url(../img/bg.jpg); background-position: center; }
.bg-line{background: url(../img/bg-line.jpg); background-position: center; background-repeat: no-repeat; }
.mask-mobile{z-index: 20;  position: absolute;}
#cycler{ display:block; width: 250px; height: 492px; margin:0 auto;}
#cycler img{position:absolute;z-index:1; margin-left: -125px;}
#cycler img.active{z-index:3;}

.color_red{color:#990000;}
.color_green{color:#009900;}
.color_blue{color:#4688d7;}
.color_grey{color:#666666;}
.mask-testimony{z-index: 10; }
.relative{position: relative;}
.clear{clear:both;}
.right{text-align: right;}
.fright{float:right;}
.center{text-align: center;}
.left{text-align: left;}
.left40{margin-left: 40px;}
.size24{font-size: 24px;}
.size20{font-size: 20px;}
.size14{font-size: 14px;}
.size15{font-size: 15px;}
.size12{font-size: 12px;}
.sizeMain{font-size: 24px;}
.roman{font-family:'Lato', sans-serif;}
.space{padding:20px;}
.p40{padding: 40px;}
.p80{padding: 80px;}
.per50{width: 50%;}
.relative{position: relative;}
.s-right{padding-right: 20px;}
.line{border-bottom:1px solid #FFF; width:200px;}
.footerline{border-bottom:1px solid #FFF; margin: 15px 0;}
.hline{border:1px solid #CCC; width:80%; margin:30px auto;}
.box{height: 130px;}
.box-link {
	margin-bottom: 25px;
	display: block;
}
.box-link a{	
	color:#FA5568;
	padding: 10px;
	border-bottom: 1px solid #FA5568;
}
.box-link a:hover{	
	text-decoration: none;
	background-color: #FA5568;
	color: #FFFFFF;
}
.box-social{height: 100px;}
.box-social img{width: 30px;}
.box-send{ 
	background-color: #FA5568;
	width:250px;
	color:#FFFFFF;
	padding: 10px;
	position: absolute;
	bottom:0px;	
	right: 0px;	
	border-top-left-radius: 5px;
}
.box-send a{color:#FFFFFF; text-decoration: none;}
.box-send a:hover{color:#e5e5e5; text-decoration: none;}
.all-influencers{	
	width: 200px;
	margin: 0 auto;
}
.all-influencers a{	
	display: block;
	padding: 10px;
	border:2px solid #FA5568;
	color: #FA5568;
	text-decoration: none;
}
.all-influencers a:hover{
	background-color: #FA5568;
	color: #fff;
}
.all-influencers-line{
	background:url(../img/talentos/_line.jpg) no-repeat;
}
.footerLogo{

}
.nav-footer{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.nav-footer li{padding: 2px;}
.nav-footer a{color:#FFFFFF; text-decoration: none;}
.nav-footer a:hover{color:#e5e5e5;}


.close-popup {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.close-popup:hover::before, .close-popup:hover::after {
  background: #1ebcc5;
}
.close-popup::before, .close-popup::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #FA5568;
}
.close-popup::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-popup::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close-popup.big {
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
  transform: scale(3);
}
.close-popup.hairline::before, .close-popup.hairline::after {
  height: 1px;
}
.close-popup.thick::before, .close-popup.thick::after {
  height: 4px;
  margin-top: -2px;
}
.close-popup.black::before, .close-popup.black::after {
  height: 8px;
  margin-top: -4px;
}
.close-popup.heavy::before, .close-popup.heavy::after {
  height: 12px;
  margin-top: -6px;
}
.close-popup.pointy::Before, .close-popup.pointy::after {
  width: 200%;
  left: -50%;
}
.close-popup.rounded::before, .close-popup.rounded::after {
  border-radius: 5px;
}
.close-popup.blades::before, .close-popup.blades::after {
  border-radius: 5px 0;
}
.close-popup.warp::before, .close-popup.warp::after {
  border-radius: 120% 0;
}
.close-popup.fat::before, .close-popup.fat::after {
  border-radius: 100%;
}

small {
  display: block;
  padding: 5rem;
  font: .8rem/1 sans-serif;
  color: #777;
  text-align: center;
}

small a {
  color: #1ebcc5;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

small a:hover {
  border-bottom-color: #222;
}

.member .round{
  border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin:0 auto;
    border:2px solid #FFF;
}
.member h2{
  padding: 15px;
  padding-bottom: 30px;
}
.member h3{
  color: #fa5568; 
  padding: 5px;
  margin:5px; 
}
.member .box-social{  
  padding-bottom: 15px;
}
.member .box-social img{width: 50px;}
.member .box{
  height: 150px;  
  padding-top: 20px;  
  padding: 10%;
  font-size: 16px;
}
.team_space{
  padding: 40px;
}
.team_line{
  border-bottom: 1px solid #fa5568; 
  width: 40%;
  margin:0 auto;
}
.round {
	
border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin:0 auto;
    border:2px solid #FFF;
}
.round img {
  width: 110px;
    display: block;
	min-width: 100%;
	min-height: 100%; 
}

#top{
	width:400px;
	margin: 0 auto;
	background-color: #f1f1f1;
}
.top-card{
	border-bottom: 1px solid #e5e5e5;
	padding: 10px;
	background-color: #FFFFFF;
}
.top-card-img {
	border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin:0 auto;
    float: left;
    margin-right: 20px;
    border:4px solid #e5e5e5;

}
.top-card-img img {
    display: block;
	min-width: 100%;
	min-height: 100%; 
}
.top-card-pos{
	float: left;
	font-size: 20px;
	padding: 6px 10px ;
	background-color: #e5e5e5;
	margin-right: 10px;
	border-radius: 4px;
}
.new-inf, .new-desc{
	display: none;	    
    position: absolute;
    left: 50%;
    top: 200px;
    background-color: #e5e5e5;
    z-index: 100;
    height: 100px;    
    width: 350px;
    margin-left: -175px;
    border-radius: 5px;
    padding: 10px;
    border: 4px solid #CCC;    
}
.new-list{
	display: none;	    
    position: absolute;
    left: 50%;
    top: 200px;
    background-color: #e5e5e5;
    z-index: 100;
    height: 200px;
    padding-top:100px;    
    width: 350px;
    margin-left: -175px;
    border-radius: 5px;
    padding: 10px;
    border: 4px solid #CCC;    
}
.new-desc{
	display: none;	    
    position: absolute;
    left: 50%;
    top: 200px;
    background-color: #e5e5e5;
    z-index: 100;
    height: 190px;    
    width: 350px;
    margin-left: -175px;
    border-radius: 5px;
    padding: 10px;
    border: 4px solid #CCC;    
}
.new-desc textarea{
	width: 100%;
	font-size: 12px;
	height: 70px;
}
#sortable { list-style-type: none; margin: 0; padding: 0; }
  #sortable li { margin:0px;}

.card-options{
	text-align: right;	
	padding: 4px;
}

/**************************************************/
.ranking-card{  
  height: 180px;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px;

}
.name a{
  color:#000;
}
.col1{
  float: left;
  width: 28%;
  padding: 1%;
}
.col2{
  float: left;
  width: 60%;
  padding: 1%;
  height: 150px;
}
.col3{
  float: left;
  width: 9%;
  padding: 1%;
  text-align: right;
}
.ranking-pos{
  border-radius: 3px;
  background-color: #FA5568 ;
  width: 100px;
  padding: 15px 10px;
  color:#FFF;
  text-align: left;
}
.ranking-img {
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;  
  position: absolute;
  margin-left: 45px;
}
.ranking-img img {
  display: block;
  min-width: 100%;
  min-height: 100%; 
  width: 120px;
}
.followers{
  font-size: 15px;
  font-weight: bold;  
  padding: 10px 0;
}
.name{
  font-size: 24px;
  font-weight: bold;  
  float: left;
}
.desc{
  width: 80%;
  font-size: 14px;
}
.ad{    
  text-align: center;
  position: fixed;
  top: 150px;  
}
.mini{
  display: none;
}
#top-footer{
  margin: 30px 0;
  font-size: 12px;
}
/**************************************************/
.footermenu a{
  color:#FFFFFF;
}
.footermenu a:hover{
  color:#e5e5e5;
}
#menu-toggle-btn{
    margin: 15px;
    cursor: pointer;
    width: 30px;
    height: 30px; 
    margin-top: 25px;  
    float: right; 
    display: none;
    margin-right: 0px;

}

.menu-line{
        background-color: #FA5568;
        display: block;
        width: 30px;
        height: 4px;
        border-radius: 5px;
        margin-bottom: 5px;
        -webkit-transition: all 0.5s linear;
        transition: all 0.3s linear;
    }

}
.influencerImage{
  text-align: left;
}
.influencerLeft, .influencerName{
  text-align: left;
}
.influencerSocial{
  text-align: center;
}
.influencerSocial img{
  width: 50px;
}
.influencerDownload img{
  width: 140px;
}
.influencerName{
  text-transform: uppercase;
}
.influencerDownload, .influencerRight{
  text-align: right;
}
.pop-text {    
    font-family: 'Lato', sans-serif;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    font-size: 14px;
    text-align: left;  
    padding-top: 10px;  
}
.pop-text p{
    
}
#more_influencers{
  display: none;
}
.sclusiber{
  padding: 5px;
  background-color: #FA5568;
  border-radius: 3px;
  color: #FFF;
  float: left;
  font-size: 10px;
  margin: 5px;
}
a.sclusiber:hover{
  background-color: #f1f1f1;
  color: #FA5568;
}

#top-info{
  padding: 20px;
}
#top-info h1{
  font-size: 50px;
  font-weight: bold;
  line-height: 70px;  
  padding: 0px;
  margin: 0px;
}
#top-info h2{
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}
#top-info p{
  
}
.spaceTop{
  height: 400px;
}
.footerAddress{
  padding: 10px 0;
  font-size: 12px;
}
#error404{
  height: 700px;
  text-align: center;
}
#card-login{
  width: 300px;
  margin: 0 auto;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 20px;
  border:1px solid #e5e5e5;
}
#card-login input{
  margin-bottom: 20px;

}

/*************************************************/
#top-admin{
  
}
.upload-img{
  width: 318px;
  height: 551px;
  background-color: #e5e5e5;
  background-image: url('../img/add.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    font-family: ARoman;
    font-size: 12px;
}
.admin-select{
  font-family: ; 'ARoman';  
  font-size: 14px;
  font-weight: normal;
}

.admin-input{
  font-family: ; 'ARoman';  
  font-size: 14px;
  background-color: #e5e5e5;
  border:0px;
}
.h1{
  font-size: 76px;
}
.admin-textarea{
  width: 600px;
  height: 400px;
  background-color: #e5e5e5;
  border:0px;
  font-family: 'ARoman';
  font-size:14px;
}

.admin-textarea-key{
  width: 100%;
  height: 100px;
  background-color: #e5e5e5;
  border:0px;
  font-family: 'ARoman';
  font-size:14px;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.progress-animated .bar {
  background: url(../img/progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  float: right;
  width: 32px;
  height: 32px;
  background: url(../img/loading.gif) center no-repeat;
  background-size: contain;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}
.menu_admin{  
  padding: 20px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #e5e5e5;
}
.admin-user{
  padding-top: 10px;
  font-size: 14px;
}
.mAdmin{
  font-size: 14px;
}
@media (max-width: 767px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .name {
    width: 80px;
    word-wrap: break-word;
  }
}
/*************************************************/

.button, .button:visited {  
  display: inline-block; 
  padding: 15px 30px; 
  color: #fff; 
  font-size: 16px;
  text-decoration: none;      
  position: relative;
  cursor: pointer;
  background-color: #FA5568;
  border-radius: 3px;
  border:0px;
  text-transform: uppercase;
  font-weight: lighter;
}
.button.large{ 
  padding: 10px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  font-size:24px;

}
  .button:hover             { background-color: #e5e5e5; color: #fff; }
  .button:active              { top: 1px; }  
  .join.button, .join.button:visited   { background-color: #FA5568; }
  

/*********************************************************
  INFLUENCER
**********************************************************/

#influencer_intro{
  text-align: center;
  color: #FFF;
}
.influencer_left_text{
  text-align: left;
}
.influencer_right_text{
  text-align: right;
}
.influencer_center_text{
  text-align: center;
}
.influencer_center_text h2{
  padding: 20px;
  font-size: 20px;
}
.influencer_join{
  width:500px;  
  margin:0 auto;
}
.influencer_warning{
  padding-top: 20px;
  width: 400px;
  margin:0 auto;
}
.influencer_warning_icon{
  float:left;
  width: 10%;  
}
.influencer_warning_text{
  float:left;
  font-size: 10px;
  text-align: left;
  width: 90%;  
}
.influencer_responsive_main{
  display: block;
}
.influencer_responsive_small{
  display: none;
}

/*************************************************/
#influencer_usuario{
   width: 500px;
   margin: 0 auto;
   text-align:left;
}
#influencer_usuario input{
  padding: 10px;
  width: 480px;  
  margin-bottom: 10px;
  border:0px;
  color:#CCC;

}
.influencer_top_button input[type="text"] {  
  width: 100%;  
  padding: 10px;
  margin-bottom: 10px;
  padding-left: 40px;
  border:0px;
  font-size: 14px;
  background-color: #f1f1f1;
  color:#333;  
}
#influencer_usuario .telefono,   .telefono{
  background: url(../img/influencer/usuario/Telefono.png) no-repeat scroll 15px 15px;
  padding-left:50px;
  background-color: #FFF;
}
#influencer_usuario .email,   .email{
  background: url(../img/influencer/usuario/mail.png) no-repeat scroll 15px 15px;
  padding-left:50px;
  background-color: #FFF;
}

.influencer_top_wrap{
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  background-color: #FFF;
  border-radius: 5px;  
}
.influencer_top_img_left{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  max-width: 520px;
}
.influencer_top_img_right{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right:0px;
  width: 100%;
  max-width: 520px;
}
.influencer_top_text{
  padding: 20px;
}
.influencer_top_intro{
  padding: 80px 0;
}
.influencer_top_block1{
  padding-top:20px;
}
.influencer_top_block2{
  padding-top:30px;
}
.influencer_top_block3{
  padding-top:30px;
}
.influencer_top_intro h2{
  padding: 0px;
  font-size: 20px;
}
.influencer_top_list{
  list-style: none;
  padding: 0px;
  margin:0px;
}
.influencer_top_list li{
  padding: 5px 0;
}
.influencer_top_more{
  text-align: center;
  font-size: 12px;
}
.influencer_top_button{
  max-width: 300px;
  width: 100%;
  margin:0 auto;

}
.influencer_main_bg{
  background: url('../img/influencer/main/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*************************************************/
.header, .header_transparent{        
    padding-top:50px ;
    // set animation
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: none;
}

.header_transparent .nav-pills > li > a {
  color: #FFF;
}

      
.header.sticky, .header_transparent.sticky{
    position: fixed;  
    padding-top:10px ;  
    width: 100%;
    z-index: 999;
    background: #FFF;   
    border-bottom: 1px solid #f1f1f1;     
}
.header_transparent.sticky .nav-pills > li > a {
  color: #000;
}

.header_static{    
  padding-top: 50px;
}

/********************************************************/
.main_documents h1{
  font-size: 50px;
}

.main_documents h2{
  padding: 20px 0;
  border-bottom: 1px solid #FA5568;
}

/************************************************************/
.card_register{
  font-size: 12px;
  text-align: left;
  background-color: #f1f1f1;
  border-radius: 4px;    
}
.card_register img{
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;  
}
.register_h2{
    font-size: 16px;
    padding: 10px 0;
  }