{head}
<body>
<div class="overlay"></div>
<div class="main_section color_front">	
	<div class="container">								
		<div class="space"></div>
		{menu}
	</div>
</div>
<div class="main_section color_front">
	<div class="container">	
		<div class="space"></div>											
		<div class="row">					
			<div class="col-md-12">
			<div id="top-info">			
			</div>
				{login}								
			</div>			
		</div>													
	</div>
</div>  
</body>
</html>