    
        <div id="card-login">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->                        
            <form class="form-signin" method="post" action="login">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" name="login_username" class="form-control" placeholder="Nombre de usuario" required autofocus>                
                <input type="password" name="login_password" class="form-control" placeholder="Password" required>                
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->            
        </div><!-- /card-container -->