				
			<div class="menu_admin">
				<div class="container">
					<div class="row">
		        	<div class="col-md-2 admin-user">
		        		Hola <b>{user_login}</b>,  <a href="../logout/">salir</a>
		        	</div>
		        	<div class="col-md-10">
						<div id="menu-toggle-btn">
						    <span class="menu-line"></span>
						    <span class="menu-line"></span>
						    <span class="menu-line"></span>
						</div>
		        		<ul class="nav nav-pills mAdmin">
							<li><a href="{url-website}admin/">Nuestros talentos</a></li>
							<li><a href="{url-website}top-admin/">Top 100</a></li>														
						</ul>		        		
		        	</div>	
		        	</div>
		        </div>        	
		    </div>